* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #fff;
    background-color: #242424;
    padding-top: 6rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient {
    background: linear-gradient(to right, #30CFD0 0%, #330867 120%);
    background-clip: text;
    color: transparent; 
}

header h1 {
    font-size: 48px;
   
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.cadastro {
    display: block;
    margin-right: 100px;
    height: 570px;
    width: 350px;
    border-radius: 32px;
    background-color: #2F2F2F;
}

.cadastro form {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 300px;
    top: 200px;
    left: 25px;
}

.cadastro form input {
    outline: none;
    border: none;
    border-bottom: 3px solid #30CFD0;
    padding: 1rem;
    margin-bottom: 36px;
}

.cadastro form button {
    position: relative;
    background-color: #30CFD0;
    width: 168px;
    height: 54px;
    left: 60px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    border: none;
    transition: ease 0.2s;
}
.cadastro form button:hover {
    background-color: #330867;
}

.contatos {
    height: 570px;
    width: 350px;
    border-radius: 32px;
    background-color: #2F2F2F;
}

.contatos table {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 300px;
    top: 200px;
    left: 25px;
}

.contatos table tr th {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 300px;
    bottom: 100px;
    left: 90px;
}

.contatos table tbody tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.contatos table tbody tr td {
    padding: 4px;
}